@model BestelApp2.Models.Producten

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Producten</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductNaam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductNaam)
            @Html.ValidationMessageFor(model => model.ProductNaam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategorieId, "Categorie")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategorieId")
            @Html.ValidationMessageFor(model => model.CategorieId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
